* {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.q {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.w {
  color: #64748b;
  font-size: 15px;
}
.e {
  display: flex;
  gap: 20px;
}
.r {
  background-color: #0b1e3c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
.t {
  background-image: url(./img/background1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 80px;
  color: white;
}
.y {
  font-size: 48px;
}
.u {
  font-size: 16px;
  font-weight: 100;
  margin: 20px 0px;
}
.i {
  background-color: rgb(223, 223, 223);
  padding: 100px 80px;
  display: flex;
  justify-content: space-between;
}
.p {
  width: 20px;
  background-color: rgb(202, 202, 202);
  padding: 10px;
  border-radius: 8px;
}
.o {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  width: 28%;
}
.a {
  color: #0b1e3c;
  font-size: 24px;
  font-weight: 300;
}
.s {
  font-weight: 100;
  font-size: 15px;
  line-height: 100%;
  color: #5b5f61;
}
.d {
  padding: 100px 80px;
}
.f {
  color: #a97d59;
  font-size: 12px;
  font-weight: 700;
}
.g {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 40px;
}
.h {
  display: flex;
  gap: 20px;
  align-items: center;
}
.j {
  width: 65%;
}
.k {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.l {
  width: 95%;
}
.z {
  padding: 100px 80px;
}
.x {
  background-color: #0b1e3c;
  padding: 40px;
  border-radius: 20px;
}
.c {
  color: #2daaf7;
  font-size: 10px;
  font-weight: 100;
}
.v {
  color: white;
  font-size: 48px;
  margin-top: 10px;
}
.b {
  margin: 15px 0px;
  line-height: 100%;
  font-size: 14px;
  font-weight: 100;
  color: #ffffff;
}
.n {
  background-color: #2daaf7;
  color: #0b1e3c;
  padding: 13px 20px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
}
.m {
  font-size: 34px;
  font-weight: 600;
  color: #0b1e3c;
}
.q2 {
  padding: 100px 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.w2 {
  font-size: 15px;
  color: #5b5f61;
  margin-top: 10px;
  font-weight: 100;
}
.e2 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.r2 {
  padding: 20px;
  width: 28%;
  text-align: left;
  background-color: #f5f3f6;
  border-radius: 10px;
}
.t2 {
  color: #0b1e3c;
  margin: 10px 0px;
  font-size: 14px;
  font-weight: 100;
}
.y2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.u2 {
  font-size: 16px;
  font-weight: 700;
}
.i2 {
  font-size: 14px;
  font-weight: 100;
  color: #5b5f61;
}
.o2 {
  padding: 80px;
  background-color: #f5f3f6;
  display: flex;
  justify-content: space-between;
}
.p2 {
  color: #0b1e3c;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
}
.a2{
  color: #64748b;
  margin: 15px 0px;
  font-size: 14px;
  font-weight: 100;
}
.s2{
  width: 25px;
  display: inline-block;
}
.d2{
  display: inline-block;
}
.f2{
  color: #94A3B8;
  font-size: 12px;

}
.g2{
  margin-right: 20px;
}